* { margin: 0px; padding: 0px; }

body { background-color: #e4e9e9; }

table {
    margin: 0px auto 0px auto;
    border-collapse: separate;
    border-spacing: 20px 10px;
    background-color: #58885e27;
}

td { min-width: 100px; background-repeat: no-repeat;}

.plus { background-image: url(../assets/images/plus.svg); }
.equals { background-image: url(../assets/images/equals.svg); }
.bin { background-image: url(../assets/images/0.svg);}
.denary { width: 200px; }
.text {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    font-size: 90px;
    color: rgb(90, 148, 150);
}

/* ======================================== > powers of two, carry, and overflow warning text */
table.header {
    margin-top: 40px; padding-top: 20px;
    border-radius: 12px 12px 0px 0px;
}

    .power { height: 60px; }
    .carry { height: 30px; }
    .carry td:not(.blank) {
        background-image: url(../assets/images/carry.svg);
        opacity: 0;
    }

    #p1 {
        background-image: url(../assets/images/powers.svg);
        height: 100%;
        opacity: 0.4;
    }

    #overflow {
        width: 320px;
        background-image: url(../assets/images/overflow_text.svg);
        background-size: auto 100%;
        background-repeat: no-repeat;
        opacity: 0;
    }

/* ======================================== >> plus symbol, user selection << */
.num { height: 100px; }

.click:hover {
    cursor: pointer;
    filter: brightness(70%);
}

/* ======================================== >> dividers, overflow icon, addition solution, denary equivalent << */
.divide td:not(.blank) {
    height: 6px;
    background-color:  rgba(90, 148, 150, 0.4);
}

.solution {
    padding-bottom: 20px;
    border-spacing: 20px 14px;
    border-radius: 0px 0px 12px 12px;
}

.solution .bin {
    background-image: url(../assets/images/0_orange.svg);
  }

#extrabit {
    background-image: url(../assets/images/x.svg);
    opacity: 0;
}
